body{
    background-image:linear-gradient(210deg, #fff,#000000) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: white;
}
#header-top{
    width:90%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    color:rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;   
 }
#fav a{
    color: #000000;
    /* text-shadow: 0 0 5px #000000; */
}
#fav a:hover{
    text-shadow: 0 0 20px #000000;
    filter: drop-shadow(0 0 10px #000);
}
#backToHome a{
    color: #000000;
}
 #heading{
    color: red;
    font-family: 'Abril Fatface', cursive;
    font-weight: 900;
    text-shadow: 0 0 10px rgb(255, 174, 0);
}
#container{
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
}
#powerstats-container{
     position: relative;
     display: flex;
     flex-direction:row;
     flex-wrap: nowrap;
     justify-content: space-evenly;
     align-items: center;
}
 
#about-container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
#name-and-appearance-container{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;

}
#appearance-container{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
}
#name-and-aka{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#header-top:hover{
    filter:drop-shadow(0px 0px 8px white);
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: white;
    cursor: pointer;
    text-shadow: 0 0 10px #fff;
    text-decoration: none; 
}
a:active{
    color: white;
    text-decoration: none;
}
#aka{
    color: red;
}
#name-and-aka{
    margin-left: -3rem;
}
.bio{
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#alignment{
    display: none;
}
 @media only screen and (min-width:900px){
    #header-top{
        margin-left: 3%;
        height: 4%;
        padding: 1%;
        border-radius:50px;
        font-size: 1.4rem;
    }
     #container{
         position: relative;
         width: 100%;
         height: 90%;
         padding: 1%;
     }
     #heading{
        text-align: center;
        padding: 1%;
        width: 80%;
        height: 3%;
        font-size: 5rem;
     
     }
     #powerstats-container{
         padding: 1%;
         position: relative;
         width: 80%;
         height:20%;
        
  
     }
     .powerstats{
         display: flex;
         font-weight: 600;
         flex-direction: column;
         flex-wrap: nowrap;
         justify-content: space-between;
         align-items: center;
         white-space : nowrap;
         text-align: center;
         position: relative;
         font-size: 2rem;
         letter-spacing: 2px;
         width:10%;
     }
     #about-container{
         width:80%;
         height:50%;
     }
     #imageOfSuperHero{
        width: 300px;
        margin-top: 2%;
        height: 300px;
        border-radius: 200px;
        box-shadow: 0 0 50px lightgrey;
     }
     #name-and-appearance-container{  
         width:70%;
         margin-left: -3rem;
         }
    #alignment{
        margin-left: -50%;
        width:100px;
        height:100px;
        border-radius: 50px;
    }
    #hero-name{
        font-weight: 900;
        letter-spacing: 4px;
        font-size: 3.5rem;
    }
    #aka{
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 1.75rem;
    }
    #real-name{
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 3rem;
    }
    #appearance-container{
        margin-top: 3%;
        width: 100%;
    }
    .appearance{
         font-size: 2rem;
         display: flex;
         font-weight: 600;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: space-evenly;
         letter-spacing: 3px;
         white-space : nowrap;
         align-items: center;
         margin: 3%;   
         width:28%;
     }
 }